.routes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 150px;
  padding: 20px;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0;
  background: #282c34;

  color: #fff;

  margin-left: -30px;
}

nav ul li {
  display: block;

  margin: 0 10px 0 10px;

  padding: 10px;
}

.itemList {
  text-decoration: none;
  color: #fff;

  font-size: 18px;
}
